@charset "utf-8";
/*@import url('./styleChecker.css');*/

:root {
  color-scheme: light dark;
  --backGround-color-scheme: light-dark(#f2f2f7, #1c1c1e);
}

html {
  height: 100%;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  background-color: var(--backGround-color-scheme);
  max-width: 960px;
  /*height: 100vh;*/
  height: 100dvh;
  /*height: 100%;*/
  /*height: 100svh;*/
  margin: auto;
}
