@charset "utf-8";
/*@import url('./styleChecker.css');*/

:root {
  color-scheme: light dark;
  --backGround-color: light-dark(#F2F2F7, #1C1C1E);
}

html {
  height: 100%;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  background-color: var(--backGround-color);
  max-width: 960px;
  /*height: 100vh;*/
  height: 100dvh;
  /*height: 100%;*/
  /*height: 100svh;*/
  margin: auto;
}
